<html>
   <body>
      <div>
         <h1>Lablr</h1>
         <hr>

         <p>Select an image to be labeled:</p>
         <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="submit">
         </form>

         <div>
            {% if originalimage %}
               <img src="/image/{{originalimage}}">
            {% else %}
               <p>No image selected.</p>
            {% endif %}
         </div>
         
         <div>
            {% if label1 %}
               <h2>Suggested Labels</h2>
               <p>
                  {{label1}}, {{label2}}, {{label3}}, {{label4}}, {{label5}}
               </p>
            {% endif %}
         </div>

         <div>
            {% if plotimage_latent or plotimage_pca %}
               <hr>
               <h2>Related labels</h2>
            {% endif %}

            {% if plotimage_latent %}
               <p>Your image relative to the top 20 most relevant labels:</p>
               <img src="/plot_latent/{{plotimage_latent}}">
            {% endif %}

            {% if plotimage_pca %}
               <br><br><br>
               <p>Your image relative to other images in the top 3 most relevant classes:</p>
               <img src="/plot_pca/{{plotimage_pca}}">
            {% endif %}
         </div>
      </div>
   </body>
</html>


