<html>
   <body>
      <div class="container">
         <h2>Lablr</h2>
         <hr">
            <form action="/upload" method="post"
            enctype="multipart/form-data">
               <input type="file" name="file">
               <input type="submit" value="submit">
            </form>

            <div>
               {% if originalimage %}
                  <img src="/image/{{originalimage}}">
               {% else %}
                  <p>No image selected.</p>
               {% endif %}
            </div>
            
            <div>
               {% if label1 %}
                  <hr>
                  <p>Suggested Labels:
                     {{label1}}, {{label2}}, {{label3}}, {{label4}}, {{label5}}
                  </p>
               {% endif %}
            </div>

            <div>
               {% if plotimage_latent %}
                  <hr>
                  <p>The following plot shows where your image falls relative to the top 20 most relevant labels:</p>
                  <img src="/plot_latent/{{plotimage_latent}}">
                  <p>The circles show the centre of each group of lables, 
                  with larger circles showing more variability in that class.</p>
               {% endif %}
            </div>
            
            <div>
               {% if plotimage_pca %}
                  <hr>
                  <p>The following plot shows where your image falls with respect to other images in the top 3 most relevant groups:</p>
                  <img src="/plot_pca/{{plotimage_pca}}">
               {% endif %}
            </div>
      </div>
   </body>
</html>


